*{
  margin: 0;
  padding:0;
}
.container{
  width:80%;
  margin: auto;
  border: 1px solid gray;
}

/* this is the header work */
.header{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: space-between;
  background-color: darkslategray;
}
.header .icon{
 margin: 6px 5px;
 padding: 3px 7px;
 /* border: 1px solid green; */
}
.header .icon a img{
  padding:0 4px;
}
.container .header .input{
 /* border: 1px solid yellow; */
 padding: 3px 7px;
 display: flex;
 align-items: center;
}
.container .header .input input{
  border-radius: 8px;
  border: 1px solid gray;
  height: 22px;
  width: 210px;
  margin: 0 6px;
}
.container .header .input a img{
  height: 18px ;
  padding: 3px 2px;
}

/* this is the navigation work */

.container .navbar .nav ul{
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.container .navbar .nav ul li a{
  font-family: 'Balsamiq Sans', cursive;
  font-size: large;
  font-weight: bold;
  list-style-type: none;
  color: black;
  padding: 10px 0;
  text-decoration: none;
  transition: 0.5s ease;
}
.container .navbar .nav ul li {
  list-style-type: none;
}
 .navbar .nav ul li a.active{
  color: tomato;
}
.navbar .nav ul li a:hover{
  color: tomato;
}

/* this is landing page work */

.land{
  /* border:1px solid yellowgreen; */
  width: 100%;
  margin: auto;
  background-image: url(../images/hero.png);
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.land .form{
  /* border: 1px solid black; */
  margin: 60px 130px;
  padding: 10px 12px;
  width: 30%;
  height: 65%;
  align-items: center;
  
  
}
.land .form select{
  width:70%;
  border:2px solid red;
  border-radius: 10px;
  margin:10px 13px;
  padding:5px 7px;
  font-size: 0.8rem;
  font-family: 'Balsamiq Sans', cursive;
}
.land .form label{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  display: block;
  margin:10px 13px;
}
.land .form input{
  border: 2px solid tomato;
  width:70%;
  display:block;
  margin:10px 13px;
  padding: 5px 0;
  border-radius: 10px;
  font-family: 'Balsamiq Sans', cursive;
}
#sub{
  width:20%;
  font-family: 'Balsamiq Sans', cursive;
  background-color: black;
  display: inline-block;
  color: white;
  border:1px solid gray;
  cursor: pointer;
}
#res{
  display: inline-block;
  width: 20%;
  font-family: 'Balsamiq Sans', cursive;
  color:white;
  background-color:red;
  cursor: pointer;
}
.land .image{
  /* border:1px solid purple; */
  position: absolute;
  top: 30%;
  right:10%;
}
.land .image img{
  padding:4px 5px;
  height: 82%;
  width:84%;
}

/* work on content page or about us page. */

.content{
  width:80%;
  height: 1000px;
  /* border:1px solid green; */
  margin: 15px auto;
  background-color: blanchedalmond;
}
.content .pera{
  /* border: 1px solid red; */
  margin: 15px auto;
  width: 80%;
  height: 20%;
}
.content .pera h1{
  text-align:center;
  font-family: 'Balsamiq Sans', cursive;
  color: tomato;
}
.content .pera p{
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  color: darkslategrey;
}
.content .slide{
  width: 90%;
  height: 40%;
  margin: 70px auto;
  /* border:1px solid purple; */
  border-radius: 10px;
  background-color: bisque;
  display: flex;
  align-items: center;
}
#item3{
  height: 300px;
  width:300px;
  
}
.content .slide img{
  margin: 10px 5px;
  transition: 0.5s linear;
}
.content .slide img:hover{
  background-color: lightblue;
}
.offer{
  /* border:1px solid blue; */
  display: flex;
  align-items: center;
  width:80%;
  height: 10%;
  margin:  15px auto;
  justify-content: space-between;
}
.offer h3 a{
  font-family: 'Balsamiq Sans', cursive;
  padding: 5px 7px;
  margin: 5px 10px;
  text-decoration: none;
  background: tomato;
  color: black;
  transition: 0.5s ease;
}
.offer h3 a:hover{
  background-color: black;
  color:white
}
.des{
  width: 80%;
  margin:30px auto;
  /* border: 1px solid black; */
}
.des h2{
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  margin: 10px 12px;
  color:tomato;
}
.des p{
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  color: darkslategrey;
}

/* this is service page work */
.menu{
  width:80%;
  margin: auto;
  /* border: 1px solid black; */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: bisque;
}
.menu > h1{
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bolder;
  margin: 0 20px;
  color: white;
  background-color: tomato;
  border-radius: 10px;
  padding: 5px 5px;
}

/* veg menu */

.menu .veg{
  width:30%;
  height:70%;
  /* border:2px solid tomato; */
  /* display: inline-block; */
}
.menu .veg label{
  color: darkslategrey;
  font-weight: bolder;
  margin: 15px 20px;
  padding: 14px 0;
  font-family: 'Balsamiq Sans', cursive;
  text-decoration: underline;
}
.menu .veg li{
  list-style-type: none;
  line-height: 20px;
}
.menu .veg li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
  margin: 50px 20px;
  line-height: 20px;
}
.menu .veg li a:hover{
  color: tomato;
}

/* nonveg menu */

.menu .nonveg{
  width:30%;
  height:70%;
  /* border:2px solid tomato; */
}
.menu .nonveg label{
  color: darkslategrey;
  font-weight: bolder;
  margin: 15px 20px;
  padding: 14px 0;
  font-family: 'Balsamiq Sans', cursive;
  text-decoration: underline;
}
.menu .nonveg li{
  list-style-type: none;
}
.menu .nonveg li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
  margin: 50px 20px;
  line-height: 20px;
}
.menu .nonveg li a:hover{
  color: tomato;
}
/* drinks menu */

.menu .drinks{
  width:30%;
  height:70%;
  /* border:2px solid tomato; */
}
.menu .drinks label{
  color: darkslategrey;
  font-weight: bolder;
  margin: 15px 20px;
  padding: 14px 0;
  font-family: 'Balsamiq Sans', cursive;
  text-decoration: underline;
}
.menu .drinks li{
  list-style-type: none;
}
.menu .drinks li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
  margin: 50px 20px;
  line-height: 20px;
}
.menu .drinks li a:hover{
  color: tomato;
}

/* blog designing */

.blog{
  width:80%;
  margin: 15px auto;
  height: 800px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
}
.blog .blog1{
  height: 70%;
  width: 30%;
  /* border: 2px solid tomato; */
  background-color: white;
}
.blog .blog1 .pic{
  height: 50%;
  width: 90%;
  margin: auto;
  /* border:1px solid gray; */
}
.blog .blog1 .pic img{
  width: 100%;
  height: 100%;
}
.blog .blog1 .text{
  width: 90%;
  height: 45%;
  margin: 10px 12px;
  /* border: 1px solid darkblue; */
  
}
.blog .blog1 .text p{
  line-height: 30px;
  font-family: 'Balsamiq Sans', cursive;
  /* background-color: tomato; */
  color: black;
  text-align: justify;
}

/* feedback work start */

.feedback{
  width: 80%;
  height:500px;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  background-color: bisque;
}
.feedback .feed{
  height: 78%;
  width:60%;
  margin: auto;
  /* border: 1px solid red; */
  background-color: ghostwhite;
  border-radius: 25px;
}
.feedback .feed form input{
  height: 25px;
  width:80%;
  margin:25px 20px;
  padding: 2px 2px;
  border-radius: 7px;
  font-family: 'Balsamiq Sans', cursive;
}
.feedback .feed form textarea{
  height: 150px;
  width:80%;
  margin-left: 74px;
  border-radius: 7px;
  font-family: 'Balsamiq Sans', cursive;
  /* background-color: tomato; */
}
#feedsub{
  width:20%;
  background-color: black;
  color: white;
  border-radius: 10px;
  /* padding: 8px 10px; */
  font-family: 'Balsamiq Sans', cursive;
  margin: 15px 250px;
  cursor: pointer;
}
.feedback .feed form label{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  color: tomato;
  margin-left: 6px;
  
}
/* footer work start */
.footer{
  height: 230px;
  width: 100%;
  margin: 15px auto;
  background-color: darkslategrey;
  border-radius: 10px;
  /* border:1px solid gray; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .navg{
  /* border: 1px solid white; */
  margin: 20px 35px; 
  height: 60%;
  width: 25%;
  /* border:1px solid white; */
  display:inline-block;
}
.footer .sign{
  /* border: 1px solid white; */
  margin: 20px 35px; 
  height: 60%;
  width: 30%;
  /* border:1px solid white; */
  display:inline-block;
}
.footer .social{
  /* border: 1px solid white; */
  margin: 20px 35px; 
  height: 60%;
  width: 25%;
  /* border:1px solid white; */
  display:inline-block;
}
.footer .navg h4{
  margin: 15px 12px;
  color:white;
  font-family: 'Balsamiq Sans', cursive;
}
.footer .navg ul li{
  list-style-type: none;
}
.footer .navg ul li a{
  text-decoration:none;
  color:white;
  font-family: 'Balsamiq Sans', cursive;
  margin:5px 12px;
  font-size: 15px;
  transition: 0.6s ease;
}
.footer .navg ul li a:hover{
  color:yellow;
}
.footer .sign form label{
  margin: 15px 12px;
  color:white;
  font-family: 'Balsamiq Sans', cursive;
}
.footer .sign form input{
  width:80%;
  margin:20px auto;
  font-family: 'Balsamiq Sans', cursive;
  padding:5px 6px;
  border-radius: 10px;
}
#sub2{
  background-image: url(../images/sub2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 8%;
  width: 19%;
  margin: 0px 120px;
  cursor: pointer;
}
.footer .social .soc{
  width: 40%;
  height: 30%;
  margin: 14px auto;
  /* border: 1px solid yellow; */

}
.footer .social .soc a img{
  margin: 10px 5px;
  height: 19px;
  width:20px;
}
.footer .social .add{
  height: 50%;
  width: 80%;
  /* border:1px solid wheat; */
  margin: auto;
}
.footer .social .add p{
  font-family: 'Balsamiq Sans', cursive;
  color: white;
}